<h1>Your current recipe is:</h1>

<h2><%= @recipe.name%></h2>
<h2><%= @recipe.ingredients%></h2>
<h2><%= @recipe.cook_time %></h2>
<br><br>
<a href="/recipes/<%=@recipe.id%>/edit">Edit this recipe.</a>
<br><br>
<form method="post" action="/recipes/<%= @recipe.id %>/delete">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
